<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link href="../../styles/music.css" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
        <script src="scripts/music.js"></script>
    </head>
    <body>    
            
            <div class="audio-player-hern">
                <p>Cinco De Mayo</p>
                <audio controls>
                    <source id="cinco-de-mayo" src="music/future x lil uzi type beat cinco de mayo 2020.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag.               
                </audio>
                <a href="music/future x lil uzi type beat cinco de mayo 2020.mp3" download>Download</a>
                <p>Industrial Ritual</p>
                <audio controls>
                    <source id="industrial-ritual" src="music/industrial ritual uzi bea t.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
                <a href="music/industrial ritual uzi bea t.mp3" download>Download</a>
                <p>No More</p>
                <audio controls>
                    <source id="no-more" src="music/NO MORE MELINA PROD 30 LUV 2.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag.            
                </audio>
                <a href="music/NO MORE MELINA PROD 30 LUV 2.mp3" download>Download</a>
                <p>Purple Bandz</p>
                <audio controls>
                    <source id="purple-bandz" src="music/PurrpleBandz richie souf type beat.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag. 
                </audio>
                <a href="music/PurrpleBandz richie souf type beat.mp3" download>Download</a>
                                
            </div> 
            <div  class="audio-player-paul">
                <iframe height="420" scrolling="yes" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_5912579?widget_id=55&pwc[included_songs]=1&context_type=page_object&spoid=artist_5912579"></iframe>        
            </div>
        


    </body>