<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
            <link href="../../styles/tour.css" rel="stylesheet">
            <title>Tour Calendar</title>
        </head>
        <body>
            <iframe src="https://calendar.google.com/calendar/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cGdpb3Zhbm5pMTIzNEBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=bTE2MnByajlxZzI0b2dxMmQ5aW1hZXJzNDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%237986CB&amp;color=%23C0CA33&amp;color=%237986CB&amp;title=30luv_%20x%20Paul%20G" style="border:solid 1px #777" width="1500" height="700" frameborder="0" scrolling="no"></iframe>
        </body>
    </html>