html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif; 
    
      background: url(../images/paulxhern.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      
    }
body {

  width: 99%;
  font-size: 32px;
  
}


.dropf:hover {

  background-color: aquamarine;
  display: contents
  
}

#social-media-links {
 
    position: absolute;
    left: 46.7%;
    top: 1%; 
    transform: rotate(90px);
}


#music {

  position: absolute;
  top: 1%;
  left: 95%;

}

#sign-up {

  position: absolute;
  left: 48%;
  top: 95%;

}

#shop {

  position: absolute;
  top: 95%;

}

#video {

  position: absolute;
  top: 95%;
  left: 95%;

}


#banjorecord {

  position: absolute;
  top: 20%;
  left: 30%;

}