html {

background: url(../images/paulxhern.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-size: 10px;
font-family: 'Roboto', sans-serif; 
background-color: black;

}

.audio-player-hern {

    position: absolute;
    background-color:white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    top: 30%;
    left: 15%;
     
}


.audio-player-paul {

    position: absolute;
    left: 66%;
    top: 30%;
    background-color: black;

}

#home {

    display: inline;

}