html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif; 
    
      background: url(../images/paulxhern.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      
    }